body {
  margin: 0;
  background-color: gainsboro;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.board-info {
  display: grid;
  grid-template-columns: 45% auto 45%;
  justify-items: center;
  align-items: center;
  height: 100px;
}

.player-info {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 1px;
  row-gap: 1px;
}

.tic-tac-toe-item {
  background-color: gainsboro;
  border: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(196, 0, 0);
  color: white;
}

img {
  max-height: 50px;
  cursor: pointer;
}
