body {
  margin: 0;
  background-color: gainsboro;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.board-info {
  display: grid;
  grid-template-columns: 45% auto 45%;
  justify-items: center;
  align-items: center;
  height: 100px;
}

.player-info {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 1px;
  row-gap: 1px;
}

.tic-tac-toe-item {
  background-color: gainsboro;
  border: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(196, 0, 0);
  color: white;
}

img {
  max-height: 50px;
  cursor: pointer;
}

.restart-button {
  background: linear-gradient(to bottom, #ff1c1c 0%, #ff1c1c 50%, #ffffff 50%, #ffffff 100%);
  border: 4px solid #000000;
  border-radius: 50px;
  color: #000;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 14px 28px;
  text-shadow: 1px 1px #fff;
  cursor: pointer;
  box-shadow: 0 4px #555;
  transition: all 0.2s ease;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.restart-button:hover {
  box-shadow: 0 2px #333;
  transform: translateY(-2px);
}

.restart-button:active {
  box-shadow: 0 1px #000;
  transform: translateY(2px);
}
